.examples-section {
  &__conteiner {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  &__image {
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
  }
  &__name {
    color: #000;
    font-weight: 600;
  }
  &__text {
    color: var(--colorGrey);
    line-height: 1.2;
  }
  &__link {
    font-size: 12px;
    font-weight: 600;
    color: var(--colorGrey);
    transition: all 1s;
    &:hover {
      text-decoration: underline #000;
    }
  }
}
