// Conteiner & breakpoints
// @use "sass:math";
// $conteinerWidth: 1140;
// $conteinerPadding: 40;
// $conteinerSidePadding: math.div($conteinerPadding, 2);
// $breakpoint1450: 1449.98px;
// $breakpoint992: 991.98px;
// $breakpoint768: 767.98px;
// $breakpoint480: 479.98px;

//Fonts
// $fontMain: "Inter", sans-serif;
:root {
  --colorGrey: #6a6a6a;
  --colorButton: #f9bf29;
  --colorPrime: #3b5d50;
}
